/* témák kilistázása */

.forum-table {
  border: 0;
  background: none;
}

/* overwrite default values */
#forum td.container {
  padding: 1em 0 0;
}

#forum .container .name,
#forum .container .description,
.forum-header tr, 
.forum-topics thead tr {
  background: #ccc28f; /* rgb(50, 30, 80) */
  border: 1px solid #b3a76b; /* rgb(50, 40, 70) */
  border-left: 1px solid #b3a76b; /* rgb(50, 40, 70) */
  /*border-bottom: 0;*/
  padding: 5px;
  margin: 0;
}

#forum .container .name,
#forum .container .description {
  border-bottom: 0;
}

#forum .description {
  padding: 0;
}

/*.forum-header tr,*/
tr.container {
  border-left: 0 !important;
  border-right: 0 !important;
  background: none !important;
}

#forum tr {
  border-left: 1px solid #b3a76b; /* rgb(50, 40, 70) */
  border-right: 1px solid #b3a76b; /* rgb(50, 40, 70) */
}

/* A fórumnál a felhasználó adatai legyenek a jobb oldalon */
.forum-post-panel-sub {
  float: right;
}

.forum-post-panel-main {
  margin-left: 0;
  margin-right: 150px;
  clear: left;
  float: none;
}

.post-info {
  margin-right: 160px;
  clear: none;
  float: left;
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.author-name {
  font-weight: bold;
}

.author-joined, .author-pane-contact {
  font-size: 0.875em;
}

.forum-post-panel-main .content {
  padding: 5px 0;
}

.author-signature {
  border-top: 1px #999 solid;
  margin: 3em 0 0;
}

.posted-on {
  font-size: 0.875em;
}

.forum-jump-links {
  padding: 0;
}

.forum-links {
  display: none;
}
