/* témák kilistázása */

/*
.forum-table {
  border: 5px;
  background: none;
}
*/

/* overwrite default values */
#forum td.container {
  padding: 1em 0 0;
}

#forum .container .name,
#forum .container .description,
.forum-header tr, 
.forum-topics thead tr {
  background: $base-border-color; /* rgb(50, 30, 80) */
  border: 1px solid $base-border-color; /* rgb(50, 40, 70) */
  border-left: 1px solid $base-border-color; /* rgb(50, 40, 70) */
  /*border-bottom: 0;*/
  padding: 5px;
  margin: 0;
  color: $negative-color;
}

#forum .container .name a,
#forum .container .description a,
.forum-header tr a, 
.forum-topics thead tr a,
#forum .forum-topics thead th a {
  color: $negative-link-color;
}

#forum th.forum-name {
  padding-left: 0;
  text-align: left;
  width: 60%;	
}

.forum-num-topics,
.forum-posts,
.forum-last-post {
  font-size: 0.8em;
}

.forum-num-topics,
.forum-posts {
  width: 50px;
}

#forum .description {
  padding: 0;
}

#forum tr {
  border-left: none; /* rgb(50, 40, 70) */
  border-right: none; /* rgb(50, 40, 70) */
}


/**
 * Egyedi fórumbejegyzés formázása
 */

.forum-post.author-online {
  background-image: url(images/forum/icon_user_online.gif);
  background-position: top right;
  background-repeat: no-repeat;
}

.forum-post-main {
  margin-right: -180px;
  float: left;
  width: 100%;
}

.forum-post-main-inner {
  float: left;
  /* margin-right: 180px; */ /* áthelyezve a content-be */
  max-width: 100%;
}

/* A fórumnál a felhasználó adatai legyenek a jobb oldalon */
.forum-post-panel-sub {
  float: left;
  width: 150px;
  border-left: 1px solid #fff;
  margin-left: 10px;
}

.forum-post-panel-main {
  margin-left: 0; /* reset module default */
}

.post-info {
  height: auto; /* override default 100% */
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.author-name {
  font-weight: bold;
}

.author-profile {
  color: $base-color-light;
  font-size: 0.875em;
}

.author-pane-label {
  color: $base-color;
}

.forum-post-panel-main .content {
  padding: 5px 0;
  margin-right: 180px;
}

.author-signature {
  border-top: 1px #999 solid;
  margin: 3em 0 0;
}

.forum-post-panel-sub .author-pane {
    margin: 0 0 0 10px;
}

/* Link gombok */
.author-pane-link-line {
  float: left;
}

.author-pane-link {
  display: block;
  width: 20px;
  height: 20px;
  margin: 2px;
}

.author-pane-link span {
  display: none;
}
.author-pane-link:hover {
  background-position: 0 -20px;
}

.author-privatemsg .author-pane-link { background-image: url(images/forum/icon_contact_pm.gif); }
.author-contact .author-pane-link { background-image: url(images/forum/icon_contact_email.gif); }
.author-website .author-pane-link { background-image: url(images/forum/icon_contact_www.gif); }

/* Link gombok vége */

.posted-on {
  font-size: 0.875em;
}

.forum-jump-links {
  padding: 0;
}

.forum-jump-links a {
  display: block;
  background: url(images/forum/icon_back_top.gif) no-repeat 0 0;
  width: 11px;
  height: 11px;
  text-indent: 12px;
  overflow: hidden;
}

.forum-links {
  display: none;
}

// it's a td in which the icon resides
#forum td.forum-icon {
  width: 30px;
}

.forum-icon-img {
  width: 27px;
  height: 27px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.forum-details {
  width: 100%;
}

.forum-icon-img span {
  display: none;
}

.icon-new { background: url(images/forum/topic_unread.gif); }
.icon-default { background: url(images/forum/topic_read.gif); }
.icon-hot { background: url(images/forum/topic_read_hot.gif); }
.icon-hot-new { background: url(images/forum/topic_unread_hot.gif); }

