/**
 * Változók a CSS-hez
 */

$base-color: #2c2713;
$base-color-light: #706c5a;
$base-link-color: #800707; /* drupal: 800707; phpbb: 704929 */
$base-link-hover-color: #cc0000;

$base-border-color: #8c4725; /* phpbb: 8c4725 */
$base-table-bg-color: rgb(247, 243, 240); /* rgb(247, 243, 240) */
$base-table-bg-color-2: rgb(238, 233, 229);

$negative-color: #bdb58c;
$negative-link-color: #dcd08d;
$negative-link-hover-color: #fff;

$font-family-sans: "Arial", sans-serif;
$font-family-serif: "Times New Roman", serif;

$page-border-color: #917132;
$page-bg-color: #614617;
